<!-- Footer -->
        
<footer class="footer d-flex justify-content-between">
    <a target="_blank" href="https://openlibrary.org/developers/api" class="footer-api">https://openlibrary.org/developers/api</a>
    <div class="d-flex footer-icons">
        <a target="_blank" href="mailto:aswinvipin11@gmail.com" class="footer-icon"><i class="fa-solid fa-at"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/aswin47/" class="footer-icon"><i class="fa-brands fa-linkedin"></i></a>
        <a target="_blank" href="https://github.com/aswinc47/angular-bookwiki" class="footer-icon"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>
