<div class="about row">
    <div class="about-sec1 col-md-5">
        <img class="aboutimg" src="/assets/images/bookshelf.jpg" alt="">
    </div>
    <div class="about-sec2 col-md-7">
        <h3 class="aboutheader">ABOUT</h3>
        <p class="para" > Book-wiki is a book searching web app developed using Angular 15 with openlibrary API. <p>
        <p class="para">Users can search books using the search box in the home page and explore different books or
            different editions of a particular book when they are redirected to the search results page. From that list of results
            users can explore more about an individual book by clicking on a particular card.</p>
        <p class="para">    
            Search using author name is also available and it can be toggled in the home page. The whole website works using
            open library api as it composed of a wide range of book details and fields. Check out the footer section, the link to the api documentation,
            code repository and others.
        </p>

    </div>
</div>
